@model IEnumerable<MVC3_MasterDetailsUI.Models.EmployeeInfo>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
         <th>
            EmpNo
        </th>
        <th>
            EmpName
        </th>
        <th>
            Salary
        </th>
        <th>
            DeptName
        </th>
        <th>
            Designation
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
         <td>
            @Html.DisplayFor(modelItem => item.EmpNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpNo })
        </td>
    </tr>
}

</table>
