@model IEnumerable<MVC3_MasterDetailsUI.Models.EmployeeInfo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<script type="text/javascript" src="../../Scripts/jquery-1.6.2.js"></script>
<script  type="text/javascript">
    $(document).ready(function () {
        $("#txtfilter").keyup(function () {
            $("#tblData").hide('fast'); //Hide the Table showing All Data
            $('#empInfoDetails').show('fast'); //Show the <div> showing filtered Data 
            var data = $(this).val();
            var url = "/NewEmployee/Index/"; //The Url to the Action  Method of the Controller
            var Emp = {}; //The Object to Send Data Back to the Controller
            Emp.EmpName = $("#txtfilter").val();
            //Check whether the TextBox Contain the text if it contain the Text then make ajax call
            if ($("#txtfilter").val().length > 0 || $("#txtfilter").val() != "") {
                $.ajax({
                    type: 'POST',
                    url: url,
                    data: Emp,
                    dataType: "html",
                    success: function (evt) {
                            $('#empInfoDetails').html(evt);
                    },
                });
            }
            else
            {
                $('#empInfoDetails').hide('fast'); //Hide the <div>
                $("#tblData").show('fast'); //Hide the Table
            }

        });
    });
</script>
<p>
    @Html.ActionLink("Create New", "Create")
</p>


Enter the EmpName to Filter:
<input type="text" id="txtfilter" />

<div id="empInfoDetails">
   
</div>




<table id="tblData">
    <tr>
        <th>
            EmpNo
        </th>
        <th>
            EmpName
        </th>
        <th>
            Salary
        </th>
        <th>
            DeptName
        </th>
        <th>
            Designation
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EmpNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EmpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeptName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Designation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.EmpNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.EmpNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EmpNo })
        </td>
    </tr>
}

</table>
